/* primary-text-color: #757575;; 
title-text-color: #212121;
title-h1-color: #FFFFFF;
accent-color-background: #2196F3;
:hover-color: #2196F3; */

:root {
	--primary-text-color: #757575;

	--title-text-color: #212121;

	--title-h1-color: #ffffff;

	--accent-color-background: #2196f3;

	--focus-hover-color: #2196f3;

	--accent-btn: #f5f4fa

}

body {
	color: var(--primary-text-color);
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
}

/* header */
/* <!--Navigation--> */
.web {
	color: var(--accent-color-background);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	font-family: "Raleway", sans-serif;
}

.studio {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	font-family: "Raleway", sans-serif;
}

.nav .list {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
}

.nav .item {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
}

/* .contacts-list */
.contacts-list,
.contacts-list .item,
.footer .link {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
}


/* :hover and :focus */
.nav .item:hover,
.nav .item:focus,
.contacts-list .item:hover,
.contacts-list .item:focus,
.footer .link:hover,
.footer .link:focus {
	color: var(--focus-hover-color);
}

/* MAIN */

/* section Hero*/
.section-hero {
	color: var(--title-h1-color);
	background-color: #2f303a;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	text-align: center;
	color: #ffffff;
}

.section-hero .button {
	color: var(--title-h1-color);
	background-color: var(--accent-color-background);
	font-weight: 700;
	font-size: 16px;
	font-family: inherit;
	line-height: 1.9;
	width: 200px;
	height: 50px;
	left: 700px;
	top: 430px;

}

/* section-features */
.section-features {
}

.section-features .title-h2 {
	color: blue;
}

.section-features .title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
}

.section-features .text {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

/* <!--Speciality--> */
.section-special .title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-align: center;	
}

/* <!--Our Team--> */
.section-team .title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 36px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	text-align: center;
}

.section-team .photo {
}

.section-team .name {

	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	color: var(--title-text-color);
}

.section-team .text {
	font-size: 16px;
	line-height: 1.2;
	color: var(--primary-text-color);
}

.address {
	color: var(--title-h1-color);
}
.btn {
	color: var(--title-text-color);
	background: var(--accent-btn);
	width: 128px;
	height: 38px;
	left: 576px;
	top: 174px;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.65;
	cursor: pointer;
	font-family: inherit;
}

.btn:hover,
.btn:focus {
	background-color: var(--accent-color-background);
	color: var(--title-h1-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.65;
}

.link .title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: var(--title-text-color);
}

.link .text {
	font-size: 14px;
	line-height: 1.86;
	color: var(--primary-text-color);
}

.list {
	list-style: none;
}